@import "tailwindcss";

:root {
  @apply bg-radial-[at_25%_25%] from-gray-700 to-zinc-900 to-75% font-sans;
}

/* Hide arrows in number input (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
