@import "tailwindcss";

:root {
  @apply w-full h-full bg-linear-120 from-gray-700 to-zinc-900 font-sans text-amber-50;
}

/* Hide arrows in number input (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
